<div class="cwt__footer visible-footer">
    <div class="cwt__footer__top">
        <div class="row">
            <div class="col-lg-6">
                <div class="cwt__footer__title cwt__footer__title--light">
                    会员系统 会员中心 祝您开开心心每一天
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="cwt__footer__title">
                    电脑使用 按F11可以全屏哦
                </div>
                <div class="cwt__footer__description">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cwt__footer__bottom">
        <div class="row">
            <div class="col-md-4">
                <a href="javascript:void(0)" target="_blank" class="btn btn-primary">
                    记得每天笑一笑
                </a>
            </div>
            <div class="col-md-8">
                <div class="cwt__footer__company">
                    <img class="cwt__footer__company-logo" src="__PUBLIC__/assets/common/img/temp/mediatec.png" target="_blank" title="Mediatec Software">
                    <span>
                        © 2017 <a href="javascript:void(0)" class="cwt__footer__link" target="_blank">TK会员系统</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Vendors Scripts -->
<script src="__PUBLIC__/assets/vendors/tether/dist/js/tether.min.js"></script>
<script src="__PUBLIC__/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js"></script>
<script src="__PUBLIC__/assets/vendors/autosize/dist/autosize.min.js"></script>
<script src="__PUBLIC__/assets/vendors/moment/min/moment.min.js"></script>
<script src="__PUBLIC__/assets/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="__PUBLIC__/assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
<script src="__PUBLIC__/assets/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js"></script>
<script src="__PUBLIC__/assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
<script src="__PUBLIC__/assets/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="__PUBLIC__/assets/vendors/chartist/dist/chartist.min.js"></script>
<script src="__PUBLIC__/assets/vendors/peity/jquery.peity.min.js"></script>
<script src="__PUBLIC__/assets/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>
<script src="__PUBLIC__/assets/vendors/jquery-countTo/jquery.countTo.js"></script>
<!-- Clean UI Scripts -->
<script src="__PUBLIC__/assets/common/js/common.js"></script>
<script src="__PUBLIC__/assets/common/js/demo.temp.js"></script>

</body>
</html>