<layout name="Layout/layout_admin" />

<section class="page-content">
<div class="page-content-inner">

    <!-- Basic Form Elements -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-bottom-50">
                        <div class="panel-heading">
                            <h3>修改消息</h3>
                            <h6 style="color:red;">{{$error}}</h6>
                        </div>
                        <!-- Horizontal Form -->
                        <form method="post" class="row" action="__MODULE__/admin/updata" enctype="multipart/form-data">
                            <input type="text" style="display: none" id="id" name="id" value="{{$message.id}}">
                            <div class="form-group col-md-5 col-md-offset-3">
                                <br />
                                <input type="text" class="form-control" id="title" name="title" value="{{$message.title}}">
                            </div>
                            <if condition="$message.file neq null ">
                                <div class="form-group col-md-12">
                                    <h6 style="color:red;">附件 : <a target="_blank" href="__ROOT__/Uploads/{{$message.file}}">{{$message.name}}</a> 不能修改</h6>
                                    <label class="form-label"></label>
                                </div>
                            </if>
                            <div class="form-group col-md-12">
                                <textarea name="content" id="content">{{$message.content}}</textarea>
                            </div>
                            <div class="form-actions">
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align: center">
                                        <button type="submit" class="btn width-150 btn-primary">保存</button>
                                         <a href="__MODULE__/admin/messagelist">
                                            <button type="button" class="btn btn-default">返回消息列表</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Horizontal Form -->
                    </div>
                </div>
            </div>


        </div>
    </section>

</div>
</section>

<script src="__PUBLIC__/assets/vendors/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('content',{
        toolbar : 'Full',
        uiColor : '#9AB8F3',
        height:'200'
    });
</script>